/* Import Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.selected{
    border: 2px solid #000;
    background-color: blue;
    color: #fff;
}

hr{
    width: 65%;
    border-top: 1px solid #000;
    margin: 20px 0;
}
.hrb{
border: 1px solid#000;
}
.discount{
    display: none;
}

